body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    color: #3A3A3A;
    font-family: 'Supermercado One', cursive;
    font-size: 80px;
    margin-top: 0px;
    padding-top: 10px;
}

h2 {
    color: #3A3A3A;
    font-family: 'Dosis', sans-serif;
    margin-top: -10px;
    margin-bottom: 0px;
}

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #FFDD6B;
    text-align: justify;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #3A3A3A;
    text-align: center;
}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
}

#titleOffset {
    padding-left: 20px;
    padding-top: 15px;
}

#everything {
    
    /*text-align: center;*/
}

#bumbleBeeLogo {
    height: 140px;
    margin: 20px;
}

#menuPlaceholder {
    margin-top: 60px;
    text-align: center;
}

.paintings {
    width: 100%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.top-buffer { 
    margin-top:30px; 
}

.bigger-top-buffer {
    margin-top: 50px;
}