body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

h1 {
    color: #3A3A3A;
    font-family: 'Supermercado One', cursive;
    font-size: 80px;
    margin-top: 0px;
}

h2 {
    color: #3A3A3A;
    font-family: 'Dosis', sans-serif;
    margin-top: -50px;
}

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #FFDD6B;
    text-align: justify;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #3A3A3A;
    text-align: center;
}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
}

#everything {
    width: 950px;
    text-align: center;
}

#bumbleBeeLogo {
    height: 200px;
    
}

#wrapper {
    text-align: left;
    background: #FFDD6B;
    max-width: 900px;
}

#kidPainting {
    width: 40vw;
    text-align: left;
    display: block;
    border: 10px solid #3A3A3A;
    float: left;
}
